<?xml version="1.0" encoding="utf-8" ?>
<settings>
  <background>
    <Red>255</Red>
    <Green>255</Green>
    <Blue>255</Blue>
  </background>
  <font>
    <color>
      <Red>0</Red>
      <Green>0</Green>
      <Blue>0</Blue>
    </color>
    <size>10</size>
    <font-family>Microsoft Sans Serif</font-family>
    <fontstyle>
      <bold>false</bold>
      <underline>false</underline>
      <italic>false</italic>
      <strikeout>false</strikeout>
    </fontstyle>
  </font>
</settings>
